{% extends 'pats/base.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'pats/patsmain.css' %}">

{% block content %}
<nav class="navbar navbar-expand-lg nav-search">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
{#            <a id="generalSearch" class="nav-link nav-link-search active" href="{% url 'index' %}">General Search</a>#}
            <a id="generalSearch" class="nav-link nav-link-search active" href="#">General Search</a>
          </li>
          <li class="nav-item">
            <a id="searchAccount" class="nav-link nav-link-search" href="#">Search Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-search" href="#">Search Maptaxlot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-search" href="#">Search Owner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-search" href="#">Search Address</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="p-3">
    <p class="mb-0">Search By: Name, Account, Maptaxlot, Situs Address</p>
    <div class="row align-items-start pt-1">
        <div class="col-lg-4 col-sm-6">
<input id="searchBar" class="form-control" type="text" placeholder="Search Here" aria-label="default input example">
</div>
<div id ="searchBtnDiv" class="col">
<button id="searchBtn" type="button" class="btn btn-primary">Submit</button>
</div>
</div>
</div>

<script type="text/javascript">
    var btn = document.getElementById("searchBtn");
    var searchBar = document.getElementById("searchBar");
    var searchAccount = document.getElementById("searchAccount");
    var generalSearch = document.getElementById("generalSearch");

    // Set a flag to track click status
    let acctClicked = false;
    // Add click event listener to the link
    searchAccount.addEventListener('click', () => {
      acctClicked = true;
      genClicked = false;
      console.log(acctClicked);
      // Perform any additional actions you want when the link is clicked
    });

    let genClicked = false;
    // Add click event listener to the link
    generalSearch.addEventListener('click', () => {
      genClicked = true;
      acctClicked = false;
      console.log(genClicked);
      // Perform any additional actions you want when the link is clicked
    });


    btn.addEventListener("click", function() {
        var query = searchBar.value;
        console.log("search account:" + acctClicked);
        console.log("search general:" + genClicked);
        if (query != '' && acctClicked == true) {
          window.location.href = "{% url 'account_query' 0 %}".replace(/0/, query)
        }
        else if (query != '') {
          window.location.href = "search/" + query
        }
        //else {alert("Please enter a valid value.");}


    });

    searchBar.addEventListener("keydown", function(e) {
        var query = searchBar.value;
        console.log("search account:" + acctClicked);
        console.log("search general:" + genClicked);
        if (e.key === 'Enter' && query != '' &&  acctClicked == true) {
            window.location.href = "{% url 'account_query' 0 %}".replace(/0/, query)
        }
        else if (e.key === 'Enter' && query != '') {
            window.location.href = "search/" + query
        }
        // else {alert("Please enter a valid value.");}
    });
    
</script>

{% endblock %}