{% extends 'pats/base.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'pats/patsmain.css' %}">

{% block content %}
<nav class="navbar navbar-expand-lg nav-search">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="generalSearch" class="nav-link nav-link-search active" href="#">General Search</a>
          </li>
          <li class="nav-item">
            <a id="searchAccount" class="nav-link nav-link-search" href="#">Search Account</a>
          </li>
          <li class="nav-item">
            <a id="searchMT" class="nav-link nav-link-search" href="#">Search Maptaxlot</a>
          </li>
          <li class="nav-item">
            <a id="searchOwner" class="nav-link nav-link-search" href="#">Search Owner</a>
          </li>
          <li class="nav-item">
            <a id="searchAddress" class="nav-link nav-link-search" href="#">Search Address</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="p-3">
    <p class="mb-0">Search By: Name, Account, Maptaxlot, Situs Address</p>
    <div class="row align-items-start pt-1">
        <div class="col-lg-4 col-sm-6">
<input id="searchBar" class="form-control" type="text" placeholder="Search Here" aria-label="default input example">
</div>
<div id ="searchBtnDiv" class="col">
<button id="searchBtn" type="button" class="btn btn-primary">Submit</button>
</div>
</div>
</div>

<script type="text/javascript">

    function genSearchDefault() {
        generalSearch.style.backgroundColor = 'white';
        generalSearch.style.color = '#2b4f73';
    }

    var btn = document.getElementById("searchBtn");
    var searchBar = document.getElementById("searchBar");
    var searchAccount = document.getElementById("searchAccount");
    var generalSearch = document.getElementById("generalSearch");
    var mtsearch = document.getElementById("searchMT");
    var ownerSearch = document.getElementById("searchOwner");
    var addressSearch = document.getElementById("searchAddress");

    // Set a flag to track click status
    let acctClicked = false;
    let genClicked = false;
    let mtClicked = false;
    let ownerClicked = false;
    let addressClicked = false;

    // Add click event listener to the link
    searchAccount.addEventListener('click', () => {
      acctClicked = true;
      genClicked = false;
      mtClicked = false;
      ownerClicked = false;
      addressClicked = false;
      console.log(acctClicked);
      if (acctClicked == true) {
          searchAccount.style.backgroundColor = 'white';
          searchAccount.style.color = '#2b4f73';
          generalSearch.style.backgroundColor = 'transparent';
          generalSearch.style.color = 'wheat';
          mtsearch.style.backgroundColor = 'transparent';
          mtsearch.style.color = 'wheat';
          ownerSearch.style.backgroundColor = 'transparent';
          ownerSearch.style.color = 'wheat';
          addressSearch.style.backgroundColor = 'transparent';
          addressSearch.style.color = 'wheat';
      }
    });

    // Add click event listener to the link
    generalSearch.addEventListener('click', () => {
      acctClicked = false;
      genClicked = true;
      mtClicked = false;
      ownerClicked = false;
      addressClicked = false;
      console.log(genClicked);
      if (genClicked == true) {
          generalSearch.style.backgroundColor = 'white';
          generalSearch.style.color = '#2b4f73';
          searchAccount.style.backgroundColor = 'transparent';
          searchAccount.style.color = 'wheat';
          mtsearch.style.backgroundColor = 'transparent';
          mtsearch.style.color = 'wheat';
          ownerSearch.style.backgroundColor = 'transparent';
          ownerSearch.style.color = 'wheat';
          addressSearch.style.backgroundColor = 'transparent';
          addressSearch.style.color = 'wheat';
      }
    });

    mtsearch.addEventListener('click', () => {
        acctClicked = false;
        genClicked = false;
        mtClicked = true;
        ownerClicked = false;
        addressClicked = false;
        if (mtClicked == true) {
            mtsearch.style.backgroundColor = 'white';
            mtsearch.style.color = '#2b4f73';
            searchAccount.style.backgroundColor = 'transparent';
            searchAccount.style.color = 'wheat';
            generalSearch.style.backgroundColor = 'transparent';
            generalSearch.style.color = 'wheat';
            ownerSearch.style.backgroundColor = 'transparent';
            ownerSearch.style.color = 'wheat';
            addressSearch.style.backgroundColor = 'transparent';
            addressSearch.style.color = 'wheat';
        }
    });

    ownerSearch.addEventListener('click', () => {
        acctClicked = false;
        genClicked = false;
        mtClicked = false;
        ownerClicked = true;
        addressClicked = false;
        if (ownerClicked == true) {
            ownerSearch.style.backgroundColor = 'white';
            ownerSearch.style.color = '#2b4f73';
            mtsearch.style.backgroundColor = 'transparent';
            mtsearch.style.color = 'wheat';
            searchAccount.style.backgroundColor = 'transparent';
            searchAccount.style.color = 'wheat';
            generalSearch.style.backgroundColor = 'transparent';
            generalSearch.style.color = 'wheat';
            addressSearch.style.backgroundColor = 'transparent';
            addressSearch.style.color = 'wheat';
        }
    });

    addressSearch.addEventListener('click', () => {
        acctClicked = false;
        genClicked = false;
        mtClicked = false;
        ownerClicked = false;
        addressClicked = true;
        if (addressClicked == true) {
            addressSearch.style.backgroundColor = 'white';
            addressSearch.style.color = '#2b4f73';
            mtsearch.style.backgroundColor = 'transparent';
            mtsearch.style.color = 'wheat';
            searchAccount.style.backgroundColor = 'transparent';
            searchAccount.style.color = 'wheat';
            generalSearch.style.backgroundColor = 'transparent';
            generalSearch.style.color = 'wheat';
            ownerSearch.style.backgroundColor = 'transparent';
            ownerSearch.style.color = 'wheat';
        }
    });


    btn.addEventListener("click", function() {
        var query = searchBar.value;
        console.log("search account:" + acctClicked);
        console.log("search general:" + genClicked);
        if (query != '' && acctClicked == true) {
          window.location.href = "{% url 'account_query' 0 %}".replace(/0/, query)
        }
        else if (query != '') {
          window.location.href = "search/" + query
        }
    });

    searchBar.addEventListener("keydown", function(e) {
        var query = searchBar.value;
        console.log("search account:" + acctClicked);
        console.log("search general:" + genClicked);
        if (e.key === 'Enter' && query != '' &&  acctClicked == true) {
            window.location.href = "{% url 'account_query' 0 %}".replace(/0/, query)
        }
        else if (e.key === 'Enter' && query != '') {
            window.location.href = "search/" + query
        }
    });

</script>

{% endblock %}