{% extends 'pats/base.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet" type="text/css" href="extensions/filter-control/bootstrap-table-filter-control.css">
<script src="extensions/filter-control/bootstrap-table-filter-control.js"></script>
{% block content %}
<nav class="navbar navbar-expand-lg nav-search">
  <div class="container-fluid ">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="newSearch" class="nav-link nav-link-search" href="{% url 'index' %}">New Search    |</a>
        </li>
        <li class="navbar-text">
          Search Type:
        </li>
        <li class="nav-item">
            <a id="generalSearch" class="nav-link nav-link-search active" href="#">General Search</a>
          </li>
          <li class="nav-item">
            <a id="searchAccount" class="nav-link nav-link-search" href="#">Search Account</a>
          </li>
          <li class="nav-item">
            <a id="searchMT" class="nav-link nav-link-search" href="#">Search Maptaxlot</a>
          </li>
          <li class="nav-item">
            <a id="searchOwner" class="nav-link nav-link-search" href="#">Search Owner</a>
          </li>
          <li class="nav-item">
            <a id="searchAddress" class="nav-link nav-link-search" href="#">Search Address</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container-fluid" style="padding-top:10px">
    <div class="row">
      <div style="max-width: 150px; float: left;font-size: small;">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchReal" checked>
          <label class="form-check-label" for="flexSwitchReal">Real</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchPersonal" checked>
          <label class="form-check-label" for="flexSwitchPersonal">Personal</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchMobile" checked>
          <label class="form-check-label" for="flexSwitchMobile">Mobile</label>
        </div>
      </div>
      <div class="col" >
        <div>
          Searching: <span style="color:rgb(138, 0, 0)">{search term}</span>
        </div>
        <div style="background-color: #F2F2F2; padding:5px;">
          <div class="row align-items-start pt-1">
            <div class="col-lg-4 col-sm-6">
              <input id="searchBar" onkeyup="filterResults()" class="form-control" type="text" placeholder="refine search  ***adjust as typed?" aria-label="default input example">
            </div>
          </div>
        </div>
        <div>
          <table id="table" data-toggle="table" class="table table-borderless table-striped table-hover" style="font-size: .75em;">
            <thead>
              <tr class="table-dark">
                <th data-sortable="true">Map / Taxlot</th>
                <th data-sortable="true">Account</th>
                <th data-sortable="true">Owner Name</th>
                <th data-sortable="true">Property Addess (Situs)</th>
                <th data-sortable="true">Subdivision</th>
                <th data-sortable="true">Property Type</th>
              </tr>
            </thead>
            <tbody>
              {% if d %}
              {% for i in d %}
              <tr>
                <td>{{i.map_taxlot}}</td>
                <td id="accountCol">{{i.account_id}}</td>
                <td>{{i.owner_name}}</td>
                <td>{{i.situs_address}}</td>
                <td id="subdivision">{{i.subdivision}}</td>
                <td id="accountType">{{i.account_type}}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </div>


  <script type="text/javascript">

    var btn = document.getElementById("searchBtn");
    var searchBar = document.getElementById("searchBar");
    var realSwitch = document.getElementById("flexSwitchReal");
    var personalSwitch = document.getElementById("flexSwitchPersonal");
    var mobileSwitch = document.getElementById("flexSwitchMobile");
    var $table = $('#table')
    var $column = $('#accountType')
    var searchAccount = document.getElementById("searchAccount");
    var generalSearch = document.getElementById("generalSearch");
    var mtsearch = document.getElementById("searchMT");
    var ownerSearch = document.getElementById("searchOwner");
    var addressSearch = document.getElementById("searchAddress");

    // Set a flag to track click status
    let acctClicked = false;
    let genClicked = false;
    let mtClicked = false;
    let ownerClicked = false;
    let addressClicked = false;

    $('#table tbody').on('click', 'tr', function(e) {

    let columns = $(this).find('td').map(function() {
        return $(this).text();
        }).get();

    const accountQuery = parseInt(columns[1]);

    window.location.href = "{% url 'account_query' 0 %}".replace(/0/, accountQuery)

    });

    function genSearchDefault() {
        generalSearch.style.backgroundColor = 'white';
        generalSearch.style.color = '#2b4f73';
    }

    // Add click event listener to the link
    searchAccount.addEventListener('click', () => {
      acctClicked = true;
      genClicked = false;
      mtClicked = false;
      ownerClicked = false;
      addressClicked = false;
      console.log(acctClicked);
      if (acctClicked == true) {
          searchAccount.style.backgroundColor = 'white';
          searchAccount.style.color = '#2b4f73';
          generalSearch.style.backgroundColor = 'transparent';
          generalSearch.style.color = 'wheat';
          mtsearch.style.backgroundColor = 'transparent';
          mtsearch.style.color = 'wheat';
          ownerSearch.style.backgroundColor = 'transparent';
          ownerSearch.style.color = 'wheat';
          addressSearch.style.backgroundColor = 'transparent';
          addressSearch.style.color = 'wheat';
      }
    });

    // Add click event listener to the link
    generalSearch.addEventListener('click', () => {
      acctClicked = false;
      genClicked = true;
      mtClicked = false;
      ownerClicked = false;
      addressClicked = false;
      console.log(genClicked);
      if (genClicked == true) {
          generalSearch.style.backgroundColor = 'white';
          generalSearch.style.color = '#2b4f73';
          searchAccount.style.backgroundColor = 'transparent';
          searchAccount.style.color = 'wheat';
          mtsearch.style.backgroundColor = 'transparent';
          mtsearch.style.color = 'wheat';
          ownerSearch.style.backgroundColor = 'transparent';
          ownerSearch.style.color = 'wheat';
          addressSearch.style.backgroundColor = 'transparent';
          addressSearch.style.color = 'wheat';
      }
    });

    mtsearch.addEventListener('click', () => {
        mtClicked = true;
        acctClicked = false;
        genClicked = false;
        ownerClicked = false;
        addressClicked = false;
        console.log(mtClicked);
        if (mtClicked == true) {
            mtsearch.style.backgroundColor = 'white';
            mtsearch.style.color = '#2b4f73';
            searchAccount.style.backgroundColor = 'transparent';
            searchAccount.style.color = 'wheat';
            generalSearch.style.backgroundColor = 'transparent';
            generalSearch.style.color = 'wheat';
            ownerSearch.style.backgroundColor = 'transparent';
            ownerSearch.style.color = 'wheat';
            addressSearch.style.backgroundColor = 'transparent';
            addressSearch.style.color = 'wheat';
        }
    });

    ownerSearch.addEventListener('click', () => {
        acctClicked = false;
        genClicked = false;
        mtClicked = false;
        ownerClicked = true;
        addressClicked = false;
        if (ownerClicked == true) {
            ownerSearch.style.backgroundColor = 'white';
            ownerSearch.style.color = '#2b4f73';
            mtsearch.style.backgroundColor = 'transparent';
            mtsearch.style.color = 'wheat';
            searchAccount.style.backgroundColor = 'transparent';
            searchAccount.style.color = 'wheat';
            generalSearch.style.backgroundColor = 'transparent';
            generalSearch.style.color = 'wheat';
            addressSearch.style.backgroundColor = 'transparent';
            addressSearch.style.color = 'wheat';
        }
    });

    addressSearch.addEventListener('click', () => {
        acctClicked = false;
        genClicked = false;
        mtClicked = false;
        ownerClicked = false;
        addressClicked = true;
        if (addressClicked == true) {
            addressSearch.style.backgroundColor = 'white';
            addressSearch.style.color = '#2b4f73';
            mtsearch.style.backgroundColor = 'transparent';
            mtsearch.style.color = 'wheat';
            searchAccount.style.backgroundColor = 'transparent';
            searchAccount.style.color = 'wheat';
            generalSearch.style.backgroundColor = 'transparent';
            generalSearch.style.color = 'wheat';
            ownerSearch.style.backgroundColor = 'transparent';
            ownerSearch.style.color = 'wheat';
        }
    });


    btn.addEventListener("click", function() {
        var query = searchBar.value;
        console.log("search account:" + acctClicked);
        console.log("search general:" + genClicked);
        if (query != '' && acctClicked == true) {
          window.location.href = "{% url 'account_query' 0 %}".replace(/0/, query)
        }
        else if (query != '' && mtClicked == true) {
          window.location.href = "{% url 'mt_query' 0 %}".replace(/0/, query)
        }
        else if (query != '' && ownerClicked == true) {
          window.location.href = "{% url 'owner_query' 0 %}".replace(/0/, query)
        }
        else if (query != '' && addressClicked == true) {
          window.location.href = "{% url 'address_query' 0 %}".replace(/0/, query)
        }
        else if (query != '') {
          window.location.href = "search/" + query
        }
    });

    searchBar.addEventListener("keydown", function(e) {

    });

    function filterResults() {
      var filter, table, tr, td, i, j, txtValue;
      input = document.getElementById("searchBar");
      filter = input.value.toUpperCase();
      table = document.getElementById("table");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        var displayRow = false;
        for (j = 0; j < td.length; j++) {
          txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            displayRow = true;
            break;
          }
        }
        if (displayRow) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }

    realSwitch.addEventListener("change", function(e) {
      var isChecked = e.target.checked;
      console.log(isChecked);
    });

    personalSwitch.addEventListener("change", function(e) {
      console.log(e.target.checked);
    });

    mobileSwitch.addEventListener("change", function(e) {
      console.log(e.target.checked);
    });


  </script>

{% endblock %}